:root {
  --title: #ffffff;
  --background: #FFFFFF;
  --primary: #9000c9;
  --secondary: #da11a8;
}

* {
 color: var(--title);
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html, body, input, textare { 
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  position: relative;
}

.title {
  font-size: 75px;
}

.PRO {
  background-image: linear-gradient(45deg, rgba(120,0,255,1) 0%, rgba(222,0,255,1) 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 64px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header h1 {
  font-size: 32px;
  color: var(--title);
  margin-top: 16px;
}

.form {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  width: 100%;
}

.form input {
  border: 0;
  min-height: 52px;
  width: 100%;
  color: #44546A;
  border-radius: 5px;
  padding: 16px 24px;
}

.form button {
  background: var(--secondary);
  color: #fff;
  padding: 16px 32px;
  border-radius: 5px; 
  border: 0;
  cursor: pointer;
  animation: filter 0.5s ease;
}
.form button:hover {
  filter: brightness(0.8);
}
.list {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.list div {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  margin-bottom: 32px;
}

.list div button {
  color: var(--secondary);
  border: 0;
  background: transparent;
  cursor: pointer;
}

.list ul {
  list-style: none;
}

.list ul li {
  padding: 16px;
  background: var(--primary);
  border-radius: 5px;
  color: #ffffff;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list ul li button {
  background: transparent;
  border: 0;
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
}

.list ul li span {
  flex-grow: 1;
}

/* .list ul li + li {
  margin-top: 16px;
} */